<!DOCTYPE html>
<html ng-app="generatorApp">

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Just-causes-widget : A widget to embed on your site showing the causes you&#39;re fundraising for on JustGiving" />
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script> 
	<script src="generator.js"></script> 

    <title>Just-causes-widget</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
		  <a id="forkme_banner" href="https://github.com/alwynlombaard/just-causes-widget">BETA</a>
          <h1 id="project_title">Just causes widget</h1>
          <h2 id="project_tagline">A widget to embed on your site showing the causes you&#39;re fundraising for on JustGiving</h2>

        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
	 	
		<div ng-controller="AppCtrl" style="min-height: 150px;">	
			<p ng-show="notification">{{notification}}</p>
			<label for="jgaccount">Enter your JustGiving account email</label> 
			<input type="email" id="jgaccount" ng-model="jgAccount" />
			
			<button ng-disabled="!jgAccount" ng-click="checkAccount()">Get</button>
			
			<div>
				<div ng-show="accountExists">
					<label for="sourceCode"><p>Copy and paste the following code snippet into your page where you want the widget to appear.</p></label>		
					<textarea id="sourceCode"  readonly rows="10" cols="80"><script type="text/javascript" id="just-causes-{{guid}}">(function(){function e(){var e=document.createElement("script");e.type="text/javascript";e.async=true;var t="https://just-causes-widget.azurewebsites.net/just-causes-1.0.0.js?jgaccount={{jgAccount64()}}";e.src=t+(t.indexOf("?")>=0?"&":"?")+"ref="+encodeURIComponent(window.location.href);var n=document.getElementById("just-causes-{{guid}}");n.parentNode.insertBefore(e,n)}if(window.attachEvent){window.attachEvent("onload",e)}else{window.addEventListener("load",e,false)}})()</script></textarea>
				</div>
			</div>
			
			<div ng-show="accountExists" style="margin:20px;">
				<p>Here is a preview of your widget.</p>
			
				<div id="previewWidget" src=""></div>
			</div>
			
		</div>
	  </section>
    </div>
	

	
    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Just-causes-widget maintained by <a href="https://github.com/alwynlombaard">alwynlombaard</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

	
    
  </body>
</html>
